@theme {
  /* 폰트 설정 */
  --font-body: 'Pretendard', sans-serif;

  /* 색상 설정 */
  /* gray */
  --color-gary-100: #fafafc;
  --color-gary-200: #f4f4f9;
  --color-gary-300: #efeff3;
  --color-gary-400: #dedee4;
  --color-gary-500: #babdc3;
  --color-gary-600: #989aa2;
  --color-gary-700: #6f727c;
  --color-gary-800: #404249;
  --color-gary-900: #1b1c1f;

  --color-gry-100: #fafafc;
  --color-gry-200: #f4f4f9;
  --color-gry-300: #efeff3;
  --color-gry-400: #dedee4;
  --color-gry-500: #babdc3;
  --color-gry-600: #989aa2;
  --color-gry-700: #6f727c;
  --color-gry-800: #404249;
  --color-gry-900: #1b1c1f;

  /* black */
  --color-black: #000000;

  /* white */
  --color-white: #ffffff;

  /* purple */
  --color-point-100: #e8e5ff;
  --color-point-200: #d1c9ff;
  --color-point-400: #8375ff;
  --color-point-600: #5b4af4;
  --color-point-700: #4939e1;

  /* kakao-yellow */
  --color-kakao-yellow: #ffeb02;
  --color-kakao-yellow-hover: #e8d800;

  /* red */
  --color-red-100: #ffdddd;
  --color-red-400: #ff4b4b;
  --color-red-600: #cc1f1f;

  /* blue */
  --color-blue-100: #cee7ff;
  --color-blue-700: #0038a0;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/PretendardVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 타이포그래피 클래스 */
.font-h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-h5 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-h6 {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-p1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-caption {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0%;
}
