@theme {
  /* 폰트 설정 */
  --font-body: 'Pretendard', sans-serif;

  /* 색상 설정 */
  /* gray */
  --color-gary-100: #FAFAFC;
  --color-gary-200: #F4F4F9;
  --color-gary-300: #EFEFF3;
  --color-gary-400: #DEDEE4;
  --color-gary-500: #BABDC3;
  --color-gary-600: #989AA2;
  --color-gary-700: #6F727C;
  --color-gary-800: #404249;
  --color-gary-900: #1B1C1F;

  --color-gry-100: #FAFAFC;
  --color-gry-200: #F4F4F9;
  --color-gry-300: #EFEFF3;
  --color-gry-400: #DEDEE4;
  --color-gry-500: #BABDC3;
  --color-gry-600: #989AA2;
  --color-gry-700: #6F727C;
  --color-gry-800: #404249;
  --color-gry-900: #1B1C1F;

  /* black */
  --color-black: #000000;

  /* white */
  --color-white: #FFFFFF;

  /* purple */
  --color-point-100: #E8E5FF;
  --color-point-200: #D1C9FF;
  --color-point-400: #8375FF;
  --color-point-600: #5B4AF4;
  --color-point-700: #4939E1;

  /* kakao-yellow */
  --color-kakao-yellow: #FFEB02;

  /* red */
  --color-red-100: #FFDDDD;
  --color-red-400: #FF4B4B;
  --color-red-600: #CC1F1F;

  /* blue */
  --color-blue-100: #CEE7FF;
  --color-blue-700: #0038A0;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/*
@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/PretendardVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

/* 타이포그래피 클래스 */
.font-h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h3 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.font-h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-h5 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-h6 {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-p1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0%;
}

.font-caption {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0%;
}